<h1>Timesheet</h1>

<p>Welcome {{user}} to your timesheet</p>

<p>Add your timesheet information</p>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field>
                        <input matInput [matDatepicker]="tsDate" placeholder="Select date" [formControl]="date" required>
                        <mat-datepicker-toggle matSuffix [for]="tsDate"></mat-datepicker-toggle>
                        <mat-datepicker #tsDate></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field class="full-width">
                        <mat-select placeholder="Category" [formControl]="categoryControl" required >
                            <mat-option>-- Select Category --</mat-option>
                            <mat-option *ngFor="let category of categories" [value]="category">
                              {{category?.name}}
                            </mat-option>
                            <mat-error *ngIf="categoryControl.hasError('required')">Please choose a category</mat-error> 
                            <mat-hint>{{categoryControl.value?.description}}</mat-hint>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-8">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Title" required>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field class="full-width">
                        <mat-select placeholder="Project" [formControl]="projectControl" required (selectionChange)="setDelivery($event.value)">
                            <mat-option>-- Select Project --</mat-option>
                            <mat-option *ngFor="let project of projects" [value]="project">
                              {{project?.name}}
                            </mat-option>
                            <mat-error *ngIf="projectControl.hasError('required')">Please choose a project</mat-error> 
                            <mat-hint>{{projectControl.value?.description}}</mat-hint>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="full-width">
                        <mat-select placeholder="Delivery" [formControl]="deliveryControl" required >
                            <mat-option>-- Select Delivery --</mat-option>
                            <mat-option *ngFor="let delivery of deliveries" [value]="delivery">
                                {{delivery?.name}}
                            </mat-option>
                            <mat-error *ngIf="deliveryControl.hasError('required')">Please choose a delivery</mat-error> 
                            <mat-hint>{{deliveryControl.value?.description}}</mat-hint>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="full-width">
                        <input matInput type="number" placeholder="Hours" min="0" max="8" required value="1" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <mat-form-field class="full-width">
                        <textarea matInput placeholder="Description"></textarea>
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <button mat-flat-button color="primary" class="send-btn">Add</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <timesheet-table [date]="date.value"></timesheet-table>
        </div>
    </div>
</div>