<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h1>Timesheet</h1>
                    <p>Welcome {{user}} to your timesheet</p>                    
                    <p>Add your timesheet information</p>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <mat-form-field>
                        <input matInput [matDatepicker]="tsDate" placeholder="Select date" [formControl]="date" required readonly>
                        <mat-datepicker-toggle matSuffix [for]="tsDate"></mat-datepicker-toggle>
                        <mat-datepicker #tsDate></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-md-7">
                    <button mat-stroked-button class="today" (click)="today()">Today</button>                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field class="full-width">
                        <mat-select placeholder="Category" [formControl]="categoryControl" required >
                            <mat-option>-- Select Category --</mat-option>
                            <mat-option *ngFor="let category of categories" [value]="category">
                              {{category?.name}}
                            </mat-option>
                            <mat-error *ngIf="categoryControl.hasError('required')">Please choose a category</mat-error> 
                            <mat-hint>{{categoryControl.value?.description}}</mat-hint>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-8">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Title" [formControl]="title" maxlength="256" required>
                        <mat-hint align="end">{{title.value.length}} / 256</mat-hint>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field class="full-width">
                        <mat-select placeholder="Project" [formControl]="projectControl" required (selectionChange)="setDelivery($event.value)">
                            <mat-option>-- Select Project --</mat-option>
                            <mat-option *ngFor="let project of projects" [value]="project">
                              {{project?.name}}
                            </mat-option>
                            <mat-error *ngIf="projectControl.hasError('required')">Please choose a project</mat-error> 
                            <mat-hint>{{projectControl.value?.description}}</mat-hint>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="full-width">
                        <mat-select placeholder="Delivery" [formControl]="deliveryControl" [required]="deliveries.length <= 0"  [disabled]="deliveries.length <= 0">
                            <mat-option>-- Select Delivery --</mat-option>
                            <mat-option *ngFor="let delivery of deliveries" [value]="delivery">
                                {{delivery?.name}}
                            </mat-option>
                            <mat-error *ngIf="deliveryControl.hasError('required')">Please choose a delivery</mat-error> 
                            <mat-hint>{{deliveryControl.value?.description}}</mat-hint>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="full-width">
                        <input matInput type="number" placeholder="Hours" min="0" max="12" required value="1" [formControl]="hours" />
                        <mat-hint class="warn" align="start" [hidden]="hours.value <= 8">Your're about to add more than 8 hours</mat-hint>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <mat-form-field class="full-width">
                        <textarea matInput placeholder="Description" [formControl]="description" maxlength="1024"></textarea>
                        <mat-hint align="end">{{description.value.length}} / 1024</mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <button mat-flat-button color="primary" class="send-btn" (click)="sendTimesheet()">Add</button>
                </div>
            </div>
            <div class="row errors" [hidden]="errors == null || errors.length <= 0">
                <ul>
                    <li *ngFor="let error of errors">
                        {{error}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <timesheet-table #timesheetTable [date]="date.value"></timesheet-table>
        </div>
    </div>
</div>