Specter.Api/bin/
Specter.Api/obj/
Specter.Api/Publish/
Specter.Api/obj/Debug/netcoreapp2.1/Specter.Api.assets.cache
Specter.Api/bin/Debug/netcoreapp2.1/Specter.Api.dll
Specter.Api/bin/Debug/netcoreapp2.1/Specter.Api.pdb
Specter.Api/obj/Debug/netcoreapp2.1/Specter.Api.dll
Specter.Api/obj/Debug/netcoreapp2.1/Specter.Api.pdb
