<div class="row">
    <div class="col-md-4 left-pnl">
        <h4 class="title">Please enter your email address</h4>
        <div class="row">
            <mat-form-field class="full-width">
                <input matInput type="email" placeholder="Email" [formControl]="emailFormControl" [(ngModel)]="email" required />
                <mat-error *ngIf="emailFormControl.hasError('email')">
                    Please enter a valid email address
                </mat-error>
            </mat-form-field>
        </div>
        <div class="row login-actions-pnl">
            <div class="col-md-6">
                <button mat-flat-button color="primary" (click)="sendMail()">Request</button>
            </div>
        </div>
    </div>
    <div class="col-md-8 right-pnl">
        <img src="assets/logo.svg" alt="Specter"/>
    </div>
</div>