<div class="row">
    <div class="col-md-4 left-pnl">
        <h4 class="title">Welcome to Specter</h4>
        <h6 class="title">Please enter bellow all your information</h6>
        <div class="row">
            <mat-form-field class="full-width">
                <input matInput type="text" placeholder="Full name" required />
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="full-width">
                <input matInput type="email" placeholder="Email"  [formControl]="emailFormControl" required />
                <mat-error *ngIf="emailFormControl.hasError('email')">
                    Please enter a valid email address
                </mat-error>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="full-width">
                <input matInput type="password" placeholder="Password" required />
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="full-width">
                <input matInput type="password" placeholder="Confirm password" required />
            </mat-form-field>
        </div>
        <div class="row register-actions-pnl">
            <div class="col-md-6">
                <button mat-flat-button color="primary">Register</button>
            </div>
        </div>
    </div>
    <div class="col-md-8 right-pnl">
        <img src="assets/logo.svg" alt="Specter"/>
    </div>
</div>