div.no-items {
    span {
        font-style: italic
    }
}

.report-table-container {
    margin-top: 3em;
    
    tbody tr td.mat-cell {
        padding: 0 6px 0 0;
        max-width: 16em;
    }
}

tr.mat-footer-row {
    font-weight: bold;

    &.warning > td.mat-footer-cell {
        color: red
    }
}


th.flags {
    width: 2em;
}