.filter-table {
    width: 100%
}

.actions {
    margin-top: 1.2em;

    .tip {
        float: right
    }
}

td.actions-cell {
    text-align: end;
    width: 4.5em
}

td.filter-cell {
    width: 20em;
    padding-top: 1em;
}

td.value-cell {
    padding-top: 1em;
    padding-right: 1em;
}

div.container-table {
    height: 24em;
    overflow: auto;

    &.small {
        height: 15em
    }
}

.raw-panel { 
    padding-top: 2px;
    padding-bottom: 4px;

    .mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
        flex-basis: 0;
    }

    .mat-expansion-panel-header-description {
        justify-content: space-between;
        align-items: center;
    }

    textarea {
        font-family: "Consolas";
        font-size: 16px;
        resize: none
    }
}